.main {
  max-width: 350px;
  margin: 20px auto;
  font-family:Tahoma,Verdana;
  font-weight:bold;
  size:11px;
}
ul.todo-list{
  list-style-type: none;
  padding: 0;
}
ul.todo-list li{
  margin: 6px 0;
}
span.complete{
  text-decoration: line-through;
}
span.delete-button{
  background-color:red;
  color: whie;
  padding: 2px;
}
